* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

a, a:visited, a:link {
    text-decoration: none;
    color: white;
}

main{
    align-items: center;
}

h1{
    font-size: 2.5em;
    margin: 1%;
    width: 60%
}

p{
    margin: 1%;
    width: 45%;
}




ul, ol{
    width: 50%;
    list-style-position: inside;
    list-style: none;
}

ol li{
    list-style: decimal;
    list-style-position: inside;
    background-color: grey;
    width: max-content;
    border-radius: 5px;
    margin: 1%;
    border: 2px outset darkgray;
}

.answer-button{
    width: 95%;
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple{
    border-radius: 5px;
    color: white;
    background-color: purple;
    border: 0;
    font-size: 1em;
    padding: 1%;
    margin: 1%;
}

.green{
    border-radius: 5px;
    color: white;
    background-color: limegreen;
    border: 0;
    font-size: 1em;
    padding: 1%;
    margin: 1%;
}

.red{
    border-radius: 5px;
    color: white;
    background-color: lightcoral;
    border: 0;
    font-size: 1em;
    padding: 1%;
    margin: 1%; 
}


.hide{
    display: none;
}

.highScores{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 3%;
}

#ask-question{
    text-align: center;
}

#highScoreList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

#first-place{
    font-size: 3em;
    width: 95%;
    background-image: linear-gradient(to bottom, gold, white)
}

#second-place{
    font-size: 2.5em;
    width: 75%;
    background-image: linear-gradient(to bottom, silver, white);
}

#third-place{
    font-size: 1.5em;
    width: 60%;
    background-image: linear-gradient(to bottom, #cd7f32, white)
}

#score-display{
    width: 50%;
    font-size: initial;
}